#
{%- for filter in config["filters"] %}
filter {{ filter.name }}{
    {{ filter.condition }}
};
{% endfor %}
#
{%- for repo in config["repos"] %}
destination d_logscale_{{ instance }}__{{ repo["name"] }}{
    logscale(
        url('{{ url }}')
        token('{{ repo['token'] }}')
        persist-name("logscale_{{ instance }}__{{ repo["name"] }}")
    );
};
{% endfor %}
#
{%- for logPath in config["logPaths"] %}
# 
log {{ logPath.name }}{
    {%- if logPath["filters"] %}
    filter {
        {{ ' or '.join(logPath["filters"]) }};
    };
    {%- endif %}

    rewrite {
    {%- if logPath.template %}
        set('{{ logPath.template }}', value('.logscale.template'));
    {%- else %}
        set('t_logscale_parsed_w_raw', value('.logscale.template'));
    {%- endif %}
    {%- for tag in logPath.tags %}    
        set("{{ tag.value }}", value('{{ tag.name }}'));
    {%- endfor %}
    };
    

    {%- for destination in logPath["destinations"] %}
    destination(d_logscale_{{ instance }}__{{ destination }});
    {% endfor %}
    {%- if logPath.flags %}
    flags({{ ','.join(logPath.flags) }});
    {%- endif %}
};
{% endfor %}
#