#
{%- for filter in config["filters"] %}
filter {{ filter.name }}{
    {{ filter.condition }}
};
{% endfor %}
#
destination d_logscale_{{ instance }}{
    logscale(
        url('{{ url }}')
        token('{{ token }}')
    );
};
#
{%- for logPath in config["logPaths"] %}
# 
log {{ logPath.name }}{
    {%- if logPath["filters"] %}
    filter {
        {{ ' or '.join(logPath["filters"]) }};
    };
    {%- endif %}

    rewrite {
    {%- if logPath.template %}
        set('{{ logPath.template }}', value('.logscale.template'));
    {%- else %}
        set('t_logscale_parsed_w_raw', value('.logscale.template'));
    {%- endif %}
    {%- for tag in logPath.tags %}    
        set("{{ tag.value }}", value('.logscale.tags.{{ tag.name }}'));
    {%- endfor %}
    };
    

    destination(d_logscale_{{ instance }}__{{ destination }});
    
    {%- if logPath.flags %}
    flags({{ ','.join(logPath.flags) }});
    {%- endif %}
};
{% endfor %}
#